# System files
# ------------

Icon
.DS_Store

# Temporary files
# ---------------

/media/*
!/media/index.html

# Lock files
# ---------------

.lock

# Editors
# (sensitive workspace files)
# ---------------------------
*.sublime-workspace
/.vscode
/.idea

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Node Files
# ---------------
node_modules
pnpm-lock.yaml

# Cache Files
# ---------------

/site/cache/*
!/site/cache/index.html
.php-cs-fixer.cache
.phpcs-cache

# Built dist files
# ---------------

assets/css/
assets/js/
assets/manifest.json

# Accounts
# ---------------

/site/accounts/*
!/site/accounts/index.html

# Sessions
# ---------------

/site/sessions/*
!/site/sessions/index.html

# License
# ---------------

/site/config/.license
